body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  background-color: #f0f0f0;
  margin: 0;
  overflow: hidden;
}

.heart-container {
  position: relative;
  width: 150px;
  height: 150px;
  margin-bottom: 20px;
}

.heart {
  position: absolute;
  width: 150px;
  height: 150px;
  background-color: red;
  transform: rotate(-45deg);
  animation: pulse 1.5s infinite;
}

.heart::before,
.heart::after {
  content: "";
  position: absolute;
  width: 150px;
  height: 150px;
  background-color: red;
  border-radius: 50%;
}

.heart::before {
  top: -75px;
  left: 0;
}

.heart::after {
  left: 75px;
  top: 0;
}

.message-container {
  text-align: center;
  opacity: 0;
  transition: opacity 1.5s ease-in-out;
}

.message {
  font-size: 2rem;
  color: #e91e63;
  margin: 0;
  animation: fadeInText 1.5s ease forwards;
}

.image-container {
  margin-top: 10px;
  opacity: 0;
  transition: opacity 1.5s ease-in-out;
}

#heart-image {
  width: 150px;
  height: 150px;
  object-fit: cover;
  clip-path: (50% 0%, 100% 38%, 82% 95%, 50% 75%, 18% 95%, 0% 38%);
}

@keyframes pulse {
  0%,
  100% {
    transform: scale(1) rotate(-45deg);
  }
  50% {
    transform: scale(1.2) rotate(-45deg);
  }
}

@keyframes fadeInText {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
